@import "../../common/styles/colors";

.usersBlock {
  overflow: auto;
  .userCardsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .userBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7px;
    border-radius: 12px;
    border: 1px solid darkgray;
    background-color: darkgray;
    color: white;
    a {
      &:hover {
        svg path {
          fill: rgb(10, 197, 10);
        }
      }
    }
    img {
      width: 130px;
    }
    svg path {
      fill: darkcyan;
    }
    span {
      margin-bottom: 10px;
    }
  }
}
